/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

   table.eventlist {
     border-style: solid;
     border-width: 1px;
   }
   
   table.eventlist.td {
     padding: 2px;
   }
   
   .list_line_odd {
     background-color: #D0D0D0;
   }
  
   .list_line_even {
     background-color: white;
   }