table.eventlist {
  border-style: solid;
  border-width: 1px; }

.list_line_odd {
  background-color: lightgrey; }

.list_line_even {
  background-color: white; }

/*News stuff*/
div.news_preview td {
	font-family: "Lucida Calligraphic","Lucida Handwriting","Lucida","Century Gothic","Tahoma";
}

td.news_date {
	width: 150px;
}
td.news_headline {
	width: 347px;
}
div.news_preview td.news_subtitle {
	font-family: "Century Gothic","Tahoma";
	font-size: 9pt;
}
img.table_rosebud {
	vertical-align:middle;
	height: 14px;
	width: 15px;
	margin: 2px 5px;
}
table.newstable {
	color: #2188DF; font-size: 15px;
	margin-top: 20px;
}
table.newstable td {
	padding: 0px 8px 4px 8px;
}

/* events page */
div.events_entry {
	width:800px;
	padding: 10px;
	margin-left:20px;
	clear: both;
	font-family: "Lucida Calligraphic","Lucida Handwriting","Lucida","Century Gothic","Tahoma";
}
div.events_date {
	font-size: 18px;
	width: 180px;
	position:absolute;
}
div.events_mainbody {
	position:relative;
	left:190px;
}
div.events_headline {
	font-size:18px;
	margin-right:5px;
}
div.events_subtitle {
	font-family: "Century Gothic","Tahoma";
	font-size: 14px;
}
div.events_text {
	font-family: "Century Gothic","Tahoma";
	font-size: 12px;
	padding-top: 10px;
	width: 700px;
	position:relative;
}
div.events_pdf {
	display: inline;
	position: absolute;
	right: 110px;
	width: 33px;
	height: 33px;
	top: 0px;
	background-image: url(../img/pdficon.gif);
	background-repeat: no-repeat;
}
div.events_footer {
	clear:both;
}
