// Place all the styles related to the CornwallEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cornwall_events {
  
   table.eventlist {
     border-style: solid;
     border-width: 1px;
   }
   
   .list_line_odd {
     background-color: lightgrey;
   }
  
   .list_line_even {
     background-color: white;
   }

  #topline .field {
     float:left;
     padding-right: 30px;
  }
}